body {
    background-color: black;
    color: rgb(38, 175, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}